{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'tool/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'tool/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'tool/font-awesome.min.css' %}">
<script type="text/javascript" src="{% static 'tool/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tool/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
</script>

<a href="{% url 'tool:logout' %}">Log out</a>
<a id="settings" href="{% url 'tool:settings' %}"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></a>
<span id="username-indicator">{{ user.username }}&nbsp;&nbsp;</span>

<div id="content" class="container">

{{ chart.as_html }}

<h2>Home</h2>
  
<hr>
  
<!-- MODULES -->
{% if modules %}
  <div class="link-container">
    <a href="#modules-container" class="btn btn-info" data-toggle="collapse">Modules</a>    
  </div>
  
  <div id="modules-container" class="collapse">
    <br>
    <table>
      <tr>
        <th>Module Code</th>
      </tr>
    {% for module in modules %}
      {% if forloop.counter|divisibleby:2 %}
        <tr>
      {% else %}
        <tr class="alt">
      {% endif %}
        <td><a href="{% url 'tool:module' module_id=module.id %}">{{ module.module_code }}</a></td>
      </tr>
    {% endfor %}
    </table>
  </div>
  <br>
  <hr>
  <br>
{% else %}
  <p>No modules are available.</p>
{% endif %}
  
<!-- LECTURERS -->
{% if lecturers %}
  <div class="link-container">
    <a href="#lecturers-container" class="btn btn-info" data-toggle="collapse">Lecturers</a>    
  </div>
  
  <div id="lecturers-container" class="collapse">
    <br>
    <table>
      <tr>
        <th>Lecturer Code</th>
      </tr>
    {% for lecturer in lecturers %}
      {% if forloop.counter|divisibleby:2 %}
        <tr>
      {% else %}
        <tr class="alt">
      {% endif %}
        <td>{{ lecturer.user.username }}</td>
      </tr>
    {% endfor %}
    </table>
  </div>
  <br>
  <hr>
  <br>
{% elif user_type and user_type != "STAFF" %}
  <p>No lecturers are available.</p>
{% endif %}
  
<!-- STUDENTS -->
{% if students %}
  <div class="link-container">
    <a href="#students-container" class="btn btn-info" data-toggle="collapse">Students</a>    
  </div>
  
  <div id="students-container" class="collapse">
    <br>
    <table>
      <tr>
        <th>Student Code</th>
      </tr>
    {% for student in students %}
      {% if forloop.counter|divisibleby:2 %}
        <tr>
      {% else %}
        <tr class="alt">
      {% endif %}
        <td>{{ student.user.username }}</td>
      </tr>
    {% endfor %}
    </table>
  </div>
  <br>
  <hr>
  <br>
{% elif user_type and user_type != "STUDENT" %}
  <p>No students are available.</p>
{% endif %}
  
<!-- LECTURES -->
{% if lectures %}
  <div class="link-container">
    <a href="#lectures-container" class="btn btn-info" data-toggle="collapse">Lectures</a>    
  </div>
  
  <div id="lectures-container" class="collapse">
    <br>
    <table>
      <tr>
        <th>Module</th>
        <th>Session ID</th>
        <th>Date</th>
      </tr>
    {% for lecture in lectures %}
      {% if forloop.counter|divisibleby:2 %}
        <tr>
      {% else %}
        <tr class="alt">
      {% endif %}
        <td>{{ lecture.module.module_code }}</td>
        <td>{{ lecture.session_id }}</td>
        <td>{{ lecture.date }}</td>
      </tr>
    {% endfor %}
    </table>
  </div>
  <br>
  <hr>
  <br>
{% else %}
  <p>No lectures are available.</p>
{% endif %}
  
{% if user.is_staff %}
  <hr>
  <h3>Admin Panel</h3>
  <h4>Upload Marks</h4>
  
  <form action="{% url 'tool:upload' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- pretty file-upload -->
    <label class="btn btn-default">
      Upload CSV <input type="file" name="upload-data" style="display:none;">
    </label>
    <input type="submit" class="btn btn-info" value="Submit">
  </form>
{% endif %}
  
{% if error_message %}
  <p>{{ error_message }}</p>
{% endif %}

</div>
