{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'tool/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'tool/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'tool/pagination.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'tool/style.css' %}" />
<script type="text/javascript" src="{% static 'tool/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tool/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tool/pagination.min.js' %}"></script>
<script type="text/javascript">
  /* populate entities in JS to enable pagination */
  
  var modules = [];
  var lecturers = [];
  var students = [];
  var lectures = [];
  {% for module in modules %}
  modules.push({
    url: "{% url 'tool:module' module_id=module.id %}",
    code: "{{ module.module_code }}",
    crn: "{{ module.module_crn }}"
  });
  {% endfor %}
  {% for lecturer in lecturers %}
  lecturers.push({
    url: "{% url 'tool:lecturer' lecturer_id=lecturer.id %}",
    name: "{{ lecturer.user.username }}"
  });
  {% endfor %}
  {% for student in students %}
  students.push({
    url: "{% url 'tool:student' student_id=student.id %}",
    name: "{{ student.user.username }}"
  });
  {% endfor %}
  {% for lecture in lectures %}
  lectures.push({
    url: "{% url 'tool:lecture' lecture_id=lecture.id %}",
    module_code: "{{ lecture.module.module_code }}",
    session_id: "{{ lecture.session_id }}",
    date: "{{ lecture.date }}"
  });
  {% endfor %}
</script>
<script type="text/javascript" src="{% static 'tool/script.js' %}"></script>

<a href="{% url 'tool:logout' %}">Log out</a>
<a class="settings" href="{% url 'tool:settings' %}"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></a>
<span id="username-indicator">{{ user.username }}&nbsp;&nbsp;</span>

<div id="content" class="container">

<h2>Home</h2>
  
<hr>
  
<!-- MODULES -->
{% if modules %}
  <div class="link-container">
    <a href="#modules-container" class="btn btn-info" data-toggle="collapse">Modules</a>    
  </div>
  
  <div id="modules-container" class="collapse">
    <a class="settings" href="{% url 'tool:module_course_view_settings' %}"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></a>
    <br>
    <table id="modules-tbl">
      <thead>
        <tr>
          <th>Module Code</th>
          <th>CRN</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <br>
    <div id="modules-pagination" class="pagination-container"></div>
  </div>
  <br>
  <hr>
  <br>
{% else %}
  <p>No modules are available.</p>
{% endif %}
  
<!-- LECTURERS -->
{% if lecturers %}
  <div class="link-container">
    <a href="#lecturers-container" class="btn btn-info" data-toggle="collapse">Lecturers</a>    
  </div>
  
  <div id="lecturers-container" class="collapse">
    <br>
    <table id="lecturers-tbl">
      <thead>
        <tr>
          <th>Lecturer Code</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <br>
    <div id="lecturers-pagination" class="pagination-container"></div>
  </div>
  <br>
  <hr>
  <br>
{% elif user_type and user_type == "ADMIN" %}
  <p>No lecturers are available.</p>
{% endif %}
  
<!-- STUDENTS -->
{% if students %}
  <div class="link-container">
    <a href="#students-container" class="btn btn-info" data-toggle="collapse">Students</a>    
  </div>
  
  <div id="students-container" class="collapse">
    <br>
    <table id="students-tbl">
      <thead>
        <tr>
          <th>Student Code</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <br>
    <div id="students-pagination" class="pagination-container"></div>
  </div>
  <br>
  <hr>
  <br>
{% elif user_type and user_type != "STUDENT" %}
  <p>No students are available.</p>
{% endif %}
  
<!-- LECTURES -->
{% if lectures %}
  <div class="link-container">
    <a href="#lectures-container" class="btn btn-info" data-toggle="collapse">Lectures</a>    
  </div>
  
  <div id="lectures-container" class="collapse">
    <br>
    <table id="lectures-tbl">
      <thead>
        <tr>
          <th>Module</th>
          <th>Session ID</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <br>
    <div id="lectures-pagination" class="pagination-container"></div>
  </div>
  <br>
  <hr>
  <br>
{% else %}
  <p>No lectures are available.</p>
{% endif %}
  
{% if user.is_staff %}
  <hr>
  <h3>Admin Panel</h3>
  <h4>Upload Marks</h4>
  
  <form action="{% url 'tool:upload' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- pretty file-upload -->
    <label class="btn btn-default">
      Upload CSV <input type="file" name="upload-data" style="display:none;" multiple>
    </label>
    <input type="submit" class="btn btn-info" value="Submit">
  </form>

  <hr>

  <div class="download-container">
    <a class="btn btn-success" role="button" href="{% url 'tool:download' path=upload_example_filepath %}">Download Template</a>
  </div>
{% endif %}
  
{% if error_message %}
  <p>{{ error_message }}</p>
{% endif %}

</div>
