{% extends "tool/base_single_view.html" %}

{% block title %}{{ lecturer.user.username }}{% endblock %}

{% block content %}
    {% if module_attendances %}
    <div class="link-container">
        <a href="#attendance-container" class="btn btn-info" data-toggle="collapse">Attendance</a>
    </div>

    <div id="attendance-container" class="collapse">
        <br>
        <table>
            <tr>
                <th>Module</th>
                <th>% Attendance</th>
            </tr>
            {% for module_attendance in module_attendances %}
            {% if forloop.counter|divisibleby:2 %}
            <tr>
            {% else %}
            <tr class="alt">
            {% endif %}
            <td><a href="{% url 'tool:module' module_id=module_attendance.module.id %}">{{ module_attendance.module.module_code }}</a></td>

            {% include "tool/common/attendance_percent_cell.html" with percent_attended=module_attendance.percent_attended %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <hr>
    <br>
    {{ pie_chart.as_html }}
    {{ bar_chart.as_html }}
    {% else %}
    <p>No attendances are available.</p>
    {% endif %}
{% endblock %}