{% extends "tool/base_single_view.html" %}

{% block title %}{{ module.module_code }}{% endblock %}

{% block content %}
    {% if student_attendances %}
    <div class="link-container">
        <a href="#attendance-container" class="btn btn-info" data-toggle="collapse">Attendance</a>
    </div>

    <div id="attendance-container" class="collapse">
        <br>
        <table>
            <tr class="double-header">
                <th class="double-header-left-cell double-header-right-cell" rowspan="2">Student Code</th>
                {% for attendance in student_attendances.0.attendances %}
                <th {% if forloop.last %} class="double-header-right-cell" {% endif %}>{{ attendance.lecture.date }}
                </th>
                {% endfor %}
                <th class="double-header-right-cell" rowspan="2">% Attended</th>
            </tr>
            <tr class="double-header">
                {% for attendance in student_attendances.0.attendances %}
                <th {% if forloop.last %} class="double-header-right-cell" {% endif %}>{{ attendance.lecture.session_id }}
                </th>
                {% endfor %}
            </tr>
            {% for student_attendance in student_attendances %}
            {% if forloop.counter|divisibleby:2 %}
            <tr>
            {% else %}
            <tr class="alt">
            {% endif %}
                <td>{{ student_attendance.student.user.username }}</td>
                {% for attended in student_attendance.attendances %}
                <td>
                    {% if attended.attended %}
                    <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                    {% else %}
                    <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                    {% endif %}
                </td>
                {% endfor %}
                <td>{{ student_attendance.percent_attended|floatformat:2 }}%</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <hr>
    <br>
    {% else %}
    <p>No attendances are available.</p>
    {% endif %}
{% endblock %}
