{% extends "tool/base_view.html" %}
{% load static %}
{% block extrascripts %}
<script type="text/javascript" src="{% static 'tool/feedback.js' %}"></script>
{% endblock %}

{% block title %}{{ module.module_code }} - Feedback{% endblock %}

{% block content %}
    <form id="feedback-submit" name="feedback-submit" action="{% url 'tool:module_feedback' module_id=module.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <span class="form-question">{{ field.label }}:</span>
            {{ field }}
        {% endfor %}
        <br>
        <br>
        <p class="form-error">{{ error_msg }}</p>
        <input type="submit" class="btn btn-info" value="Submit">
    </form>
{% endblock %}