{% extends "tool/base_single_view.html" %}

{% block title %}{{ student.user.username }}{% endblock %}

{% block content %}
    {% if student_module_attendances %}
    <h4>Modules</h4>
    <div class="panel-group" id="accordion">
        {% for student_module_attendance in student_module_attendances %}
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{ forloop.counter }}">
                <h4 class="panel-title">
                    {{ student_module_attendance.module.module_code }}
                </h4>
            </div>
            <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <table>
                        <tr class="double-header">
                            <th class="double-header-left-cell double-header-right-cell" rowspan="2">Module Code</th>
                            {% for attendance in student_module_attendance.attendances %}
                            <th {% if forloop.last %} class="double-header-right-cell" {% endif %}>
                                <a href="{% url 'tool:lecture' lecture_id=attendance.lecture.id %}">{{ attendance.lecture.date }}</a>
                            </th>
                            {% endfor %}
                            <th class="double-header-right-cell" rowspan="2">% Attended</th>
                        </tr>
                        <tr class="double-header">
                            {% for attendance in student_module_attendance.attendances %}
                            <th {% if forloop.last %} class="double-header-right-cell" {% endif %}>
                                <a href="{% url 'tool:lecture' lecture_id=attendance.lecture.id %}">{{ attendance.lecture.session_id }}</a>
                            </th>
                            {% endfor %}
                        </tr>
                        <tr class="alt">
                            <td>
                                <a href="{% url 'tool:module' module_id=student_module_attendance.module.id %}">{{ student_module_attendance.module.module_code }}</a>
                            </td>
                            {% for attended in student_module_attendance.attendances %}
                            <td>
                                {% if attended.attended %}
                                <i class="fa fa-check fa-lg" style="color: {{ colours.1 }};" aria-hidden="true"></i>
                                {% else %}
                                <i class="fa fa-times fa-lg" style="color: {{ colours.0 }};" aria-hidden="true"></i>
                                {% endif %}
                            </td>
                            {% endfor %}

                            {% if student_module_attendance.percent_attended < 25 %}
                            <td class="attendance_low">
                            {% elif student_module_attendance.percent_attended < 50 %}
                            <td class="attendance_midlow">
                            {% elif student_module_attendance.percent_attended < 75 %}
                            <td class="attendance_midhigh">
                            {% else %}
                            <td class="attendance_high">
                            {% endif %}
                                {{ student_module_attendance.percent_attended|floatformat:2 }}%
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
    <hr>
    <br>
    {{ pie_chart.as_html }}
    {% else %}
    <p>No attendances are available.</p>
    {% endif %}
{% endblock %}