{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'tool/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'tool/style.css' %}" />
<script type="text/javascript" src="{% static 'tool/script.js' %}"></script>

{% if uploaded_list %}
    <h4>Saved data:</h4>
    <table>
      <tr>
        <th></th>
        <th>Module Code</th>
        <th>Lecturer Staff Codes</th>
        <th>Semester</th>
        <th>Week</th>
        <th>Student Code</th>
        <th>Attended Lecture</th>
      </tr>
    {% for upload in uploaded_list %}
      {% if forloop.counter|divisibleby:2 %}
        <tr>
      {% else %}
        <tr class="alt">
      {% endif %}
        <td class="select-row"><input type="checkbox" checked></td>
        <td>{{ upload.module }}</td>
        <td>{{ upload.lecturers }}</td>
        <td>{{ upload.semester }}</td>
        <td>{{ upload.week }}</td>
        <td>{{ upload.student }}</td>
        <td>{{ upload.attended }}</td>
      </tr>
    {% endfor %}
    </table>

{% else %}
    <p>No upload information available.</p>
{% endif %}

<a href="{% url 'tool:index' %}">Go back</a>