body {
  padding: 15px;
}

#content {
  width: 70%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, form, .link-container, p, a {
  text-align: center;
}

.login-form-label, .register-form-label {
  width: 125px;
}

#username-indicator, #settings {
  float: right;
}

table {
  margin: 0 auto;
}

tr {
  outline: thin solid;
}

table.noborder tr {
  outline: none;
}

th, td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100px;
}

tr.alt {
  background-color: lightgrey;
}

td.select-row {
  padding-left: 10px;
  padding-right: 10px;
}

tr.double-header {
  outline: none;
}

tr.double-header th {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

th.double-header-left-cell {
  border-left: 1px solid black;
}

th.double-header-right-cell {
  border-right: 1px solid black;
}

table {
  align-self: center;
}

i.fa-check {
  color: green;
}

i.fa-times {
  color: darkred;
}

.setting, #reset-password, .centre-link {
  display: block;
}