body {
  padding: 15px;
}

#content {
  width: 70%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, form, .link-container {
  text-align: center;
}

.login-form-label, .register-form-label {
  width: 125px;
}

#username-indicator {
  float: right;
}

table {
  margin: 0 auto;
}

tr {
  outline: thin solid;
}

table.noborder tr {
  outline: none;
}

th, td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100px;
}

tr.alt {
  background-color: lightgrey;
}

td.select-row {
  padding-left: 10px;
  padding-right: 10px;
}

table {
  align-self: center;
}
