{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'tool/css/bootstrap.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'tool/css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'tool/css/font-awesome.min.css' %}">
<script type="text/javascript" src="{% static 'tool/js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tool/js/bootstrap.min.js' %}"></script>
{% block extrascripts %}{% endblock %}

<div id="navbar-container">
    {% block home_link %}
    <a class="btn btn-link" role="button" href="{% url 'tool:index' %}">Home</a>
    {% endblock %}
    <div id="user-dropdown" class="dropdown">
      <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">{{ user.username }}
      <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="{% url 'tool:settings' %}">Settings <i id="user-settings-cog" class="fa fa-cog fa-lg settings" aria-hidden="true"></i></a></li>
        <li class="divider"></li>
        <li><a href="{% url 'tool:logout' %}">Log out</a></li>
      </ul>
    </div>
</div>

<div id="content" class="container">

    <h2>{% block title %}Base Title{% endblock %}</h2>

    <hr>

    {% block content %}{% endblock %}
</div>
