{# Designed to be returned by ajax request, so partial HTML to be placed in a container #}

{% if uploaded_data %}
  <h3>Saved data:</h3>
  {% for data in uploaded_data %}
  <h4 class="upload-title">Upload #{{ forloop.counter }}</h4>
  <table>
    <tr>
      <th>Module Code</th>
      <th>Module CRN</th>
    </tr>
    <tr>
      <td>{{ data.module.module_code }}</td>
      <td>{{ data.module.module_crn }}</td>
    </tr>
  </table>
  <br>
  <table>
    <tr>
      <th>Courses</th>
    </tr>
    {% for course in data.courses %}
    <tr>
      <td>{{ course.course_code }}</td>
    </tr>
    {% endfor %}
  </table>
  <br>
  <table>
    <tr class="double-header">
      <th class="double-header-left-cell" rowspan="2">Student Device ID</th>
      <th class="double-header-right-cell" rowspan="2">Student Code</th>
      {% for attendance in data.attendances.0.attendances %}
        <th {% if forloop.last %} class="double-header-right-cell" {% endif %}>{{ attendance.session.date }}</th>
      {% endfor %}
    </tr>
    <tr class="double-header">
      {% for attendance in data.attendances.0.attendances %}
        <th {% if forloop.last %} class="double-header-right-cell" {% endif %}>{{ attendance.session.session_id }}</th>
      {% endfor %}
    </tr>
    {% for attendance in data.attendances %}
      {% if forloop.counter|divisibleby:2 %}
        <tr>
      {% else %}
        <tr class="alt">
      {% endif %}
        <td>{{ attendance.student.device_id }}</td>
        <td>{{ attendance.student.user.username }}</td>
        {% for attended in attendance.attendances %}
          <td>
            {% if attended.attended %}
              <i class="fa fa-check fa-lg" style="color: {{ colours.1 }};" aria-hidden="true"></i>
            {% else %}
              <i class="fa fa-times fa-lg" style="color: {{ colours.0 }};" aria-hidden="true"></i>
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
  {% if not forloop.last %}
  <br>
  <hr>
  <br>
  {% endif %}
  {% endfor %}
  
{% else %}
  <p>No upload information available.</p>
{% endif %}