{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'tool/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'tool/css/style.css' %}" />

<!-- From 
https://docs.djangoproject.com/en/1.11/topics/auth/default/#built-in-auth-views
https://docs.djangoproject.com/en/1.8/_modules/django/contrib/auth/forms/
-->
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'tool:login' %}">
{% csrf_token %}
<table class="noborder">
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<a id="reset-password" href="{% url 'tool:password_reset' %}">Forgotten your password?</a>