{% extends "tool/base/base_view.html" %}

{% block home_link %}
<a class="btn btn-link" role="button" href="{% url 'tool:settings' %}">Settings</a>
{% endblock %}

{% block title %}Change Password{% endblock %}

<!-- From 
https://docs.djangoproject.com/en/1.11/topics/auth/default/#built-in-auth-views
https://docs.djangoproject.com/en/1.8/_modules/django/contrib/auth/forms/
-->
{% block content %}
{% if form.errors %}
  {% for field, errors in form.errors.items %}
    {% for error in errors %}
      <p>{{ error }}</p>
    {% endfor %}
  {% endfor %}
{% endif %}

<form method="post" action="{% url 'tool:password_change' %}">
{% csrf_token %}
<table class="noborder">
  <tr>
    <td>{{ form.old_password.label_tag }}</td>
    <td>{{ form.old_password }}</td>
</tr>
<tr>
    <td>{{ form.new_password1.label_tag }}</td>
    <td>{{ form.new_password1 }}</td>
</tr>
<tr>
    <td>{{ form.new_password2.label_tag }}</td>
    <td>{{ form.new_password2 }}</td>
</tr>
</table>

<input type="submit" value="Change Password" />
</form>
{% endblock %}