{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'tool/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'tool/style.css' %}" />
<script type="text/javascript" src="{% static 'tool/script.js' %}"></script>

<!-- From 
https://docs.djangoproject.com/en/1.11/topics/auth/default/#built-in-auth-views
https://docs.djangoproject.com/en/1.8/_modules/django/contrib/auth/forms/
-->

{% if form.errors %}
  {% for field, errors in form.errors.items %}
    {% for error in errors %}
      <p>{{ error }}</p>
    {% endfor %}
  {% endfor %}
{% endif %}

<form method="post" action="">
{% csrf_token %}
<table class="noborder">
  <tr>
    <td>{{ form.new_password1.label_tag }}</td>
    <td>{{ form.new_password1 }}</td>
</tr>
<tr>
    <td>{{ form.new_password2.label_tag }}</td>
    <td>{{ form.new_password2 }}</td>
</tr>
</table>

<input type="submit" value="Set Password" />
</form>

