{% extends "tool/base/base_single_view.html" %}

{% block title %}{{ lecture.date }} - {{ lecture.session_id }}{% endblock %}

{% block content %}
    {% if lecture_attendances %}
    <div class="link-container">
        <a href="#attendance-container" class="btn btn-info" data-toggle="collapse">Attendance</a>
    </div>

    <div id="attendance-container" class="collapse">
        <br>
        <table>
            <tr>
                <th>Student</th>
                <th>Attended</th>
            </tr>
            {% for lecture_attendance in lecture_attendances %}
            {% if forloop.counter|divisibleby:2 %}
            <tr>
            {% else %}
            <tr class="alt">
            {% endif %}
                <td><a href="{% url 'tool:student' student_id=lecture_attendance.student.id %}">{{ lecture_attendance.student.user.username }}</a></td>
                <td>
                    {% if lecture_attendance.attended %}
                    <i class="fa fa-check fa-lg" style="color: {{ colours.1 }};" aria-hidden="true"></i>
                    {% else %}
                    <i class="fa fa-times fa-lg" style="color: {{ colours.0 }};" aria-hidden="true"></i>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <hr>
    <br>
    {{ pie_chart.as_html }}
    {% else %}
    <p>No attendances are available.</p>
    {% endif %}
{% endblock %}
