body {
  padding: 15px;
}

#content {
  width: 80%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, form, p, a, .link-container {
  text-align: center;
}

/******************/
/***** TABLES *****/
/******************/
table {
  margin: 0 auto;
  align-self: center;
}

tr {
  outline: thin solid;
}

table.noborder tr {
  outline: none;
}

table:not(.noborder) {
  border-bottom: 1px solid black;
}

tr.alt {
  background-color: lightgrey;
}

th, td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100px;
}

td a {
  display: block;
  width: 100%;
}

/* left border seems to disappear from these.. */
table.double-header-tbl {
  border-left: 1px solid black;
}

tr.double-header {
  outline: none;
}

tr.double-header th {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

th.double-header-left-cell {
  border-left: 1px solid black;
}

th.double-header-right-cell {
  border-right: 1px solid black;
}
/******************/
/******************/
/******************/



/****************/
/***** HOME *****/
/****************/
.entity-tbl {
  width: 50%;
}

.entity-tbl th, .entity-tbl td {
  text-align: center;
}

#loading-spinner-container {
  display: none;
}

#placeholder {
  display: none;
}

#add-upload-row-container, .delete-upload-row-container {
  height: 30px;
}

#add-upload-row, .delete-upload-row {
  float: right;
  cursor: pointer;
}

#upload-results {
  background-color: #ecf0f1;
  overflow-x: scroll;
  padding: 10px;
  border-radius: 10px;
  display: none;
}

/* In upload results */
.upload-title {
  text-decoration: underline;
}
/****************/
/****************/
/****************/



/************************************/
/***** MODULE / COURSE SETTINGS *****/
/************************************/
.checkbox-cell {
  text-align: center;
}
/************************************/
/************************************/
/************************************/



/******************/
/***** HEADER *****/
/******************/
#header-container {
  width: 100%;
  height: 25px;
}

#user-dropdown {
  float: right;
}

#user-dropdown a {
  text-align: left;
}

#user-settings-cog {
  margin-top: 3px;
}
/******************/
/******************/
/******************/



/********************/
/***** SETTINGS *****/
/********************/
.settings {
  float: right;
}

.setting {
  display: block;
}

.attendance-range {
  width: 2em;
}
/********************/
/********************/
/********************/



/********************/
/***** FEEDBACK *****/
/********************/
#add-feedback-container {
  text-align: right;
}

.feedback-user {
  font-style: italic;
}

.feedback-title, .feedback-answer-display {
  text-align: left;
}

.feedback-title {
  font-weight: bold;
}

.feedback-answer-display {
  white-space: pre-wrap;
}

textarea.feedback-form-answer {
  resize: none;
  height: 100px;
}
/********************/
/********************/
/********************/



/*****************/
/***** OTHER *****/
/*****************/
#reset-password, .centre-link {
  display: block;
}

#attendance-container {
  overflow: auto;
}

.upload-row, .feedback-row {
  border: 1px solid #2e6da4;
  border-radius: 15px;
  margin-top: 10px;
}

.form-question, textarea.feedback-form-answer {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

div.download-container, div.pagination-container {
  text-align: center;
}

.form-error, .error-msg {
  color: red;
}
/*****************/
/*****************/
/*****************/



/*******************************/
/***** BOOTSTRAP OVERRIDES *****/
/*******************************/
@media (min-width: 768px) {
  .container {
    max-width:100%;
  }
}

/* Student view, bootstrap accordion overrides */
.panel-heading {
  cursor: pointer;
}

.panel-heading:hover h4 {
  text-decoration: underline;
}
/*******************************/
/*******************************/
/*******************************/